
fieldset {
  margin-top: 4%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color:burlywood;
}

legend {
 
  background-color: brown;
  color: white;
  padding: 10px 10px;
  
}

input {
    width: 40%;
  margin: 5px;
}

label{
    margin-top: 2%;
    width: 20%;
    margin-left: 10%;
    margin-right: auto ;
    color: whitesmoke;
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
}
.btn{
    width: 50%;
    background-color: brown;
    margin-left: 20%;
    margin-bottom: 10%;

}
.btn:hover{
    background-color: crimson;
}
.buttonspace{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}