body, html{
    margin:0;
    padding:0
}
header{
    width: 100%;
    height: 70px;
    background-color: #351212;

}
h1{
    position: absolute;
    padding: 3px;
    margin-left: 2%;
    margin-top: 20px;
    color: #debfb3;
}
span{
    color: #ffffff;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;

}
li{
    display: inline-block;
    padding: 15px 20px;
}
.items{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2vw;
}
.items:hover{
    
    color: thistle;
    transition: 0.5s;

}
a{
    text-decoration: none;
}
.nav-link{

    color: brown;
    font-size: 20px;
    font-style: bold;
    stroke: #351212;
    stroke-width: 2px;
    stroke-opacity: 0.5;

}
.nav-link:hover{
    color:wheat
}
